@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Geist";
    src: url("/node_modules/geist/font/GeistVariable.woff2") format("woff2");
    font-weight: 100 900;
    font-display: swap;
  }
  
  body {
    font-family: "Geist", sans-serif;
  }
  
.no-scroll{
    overflow: hidden;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

.scrollbar-body{
  width: clamp(350px,48.4rem,1468px);
  height: 128px;
}